    <h1 class="display-6">Accepted Meeting:</h1>
    <% if @accepted_meetings %>
      <% @accepted_meetings.each do |meeting| %>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <div class="mb-3">
          <% if current_user.name == meeting.host_name %>
            <h5>You are meeting <%= meeting.guest_name %> at:</h5>
          <% elsif current_user.name == meeting.guest_name %>
            <h5>You are meeting <%= meeting.host_name %> at:</h5>
          <% end %>
          <p>Location: <%= meeting.location_name %></p>
          <p>Address: <%= meeting.location_address %> </p>
  </div>
</div>
      <% end %>
    <% end %>