<div class="accordion-item" style="float_right">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <strong>Online dating or buying/selling locally?</strong>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <strong>Sign up</strong> to save your address &<br>suggest places to others without<br>sharing your address or seeing theirs.
      </div>
    </div>
  </div>
