<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=raw(@locations)%>)
    });
    </script>

<% end %>

<p>
    <div id="map"></div>
</p>