<h3>Results for <%= @category.capitalize %></h3>
<%= render 'update_form' %>
<div style="width:50%; float:left" >
  <%= render 'map_card' %>
</div>
<div style="position: fixed; right: 50%; left: 50%;">
  <%= render 'locations_card' %>
</div>
